@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Favorite Food Ordering Platform!</h1>
    <h4>Explore how to easily order your favorite meals online and enjoy a seamless food delivery experience.</h4>
</div>
