@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>This page outlines our privacy practices to ensure your personal data is handled securely and responsibly.</h4>
